
.account-main-container {
    margin-left: 9vw;
    animation-name: slide-right;
    animation-duration: .5s;
    padding: 0.5vw;
}

.cover-pic {
    height: 40vh;
    position: fixed;
    width: 89.2vw;
    object-fit: cover;
    object-position: 50% 0%;
    z-index: 1;
}

.account-card-flex-container {
    margin-top:40vh;
    display: flex;
    box-shadow: 0px 2px 3px -3px black;
}

.profile-pic {
    height: 30vh;
    width: 20vw;
    object-fit: contain;
}

.card-details {
}

/*small screens*/
@media screen and (max-width: 600px) {
    .account-main-container {
        margin-left: 0;
        padding: 1vw;
    }

    .cover-pic {
        height: 20vh;
        width: 98vw;
    }

    .account-card-flex-container {
        margin-top:20vh;
    }

    .profile-pic {
        height: 14vh;
        margin-left: 4vw;
    }

    .account-card-flex-container h1 {
        font-size: 3.2vh;
        margin-bottom: 0.5vh;
        margin-top: 0.5vh;
    }

    .account-card-flex-container h3 {
        font-size: 2vh;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }

    .card-details {
        margin-left: 7vw;
    }
}