/*dp class declaration in PostList.css*/
.single-post-container {
    margin-left: 9vw;
    min-height: 100vh;
    background-color: hsl(0, 0%, 82.4%);
    animation-name: slide-right;
    animation-duration: .5s;
    padding: 0.5vw;
    z-index: 1;
}

.single-post-container h1 {
    background-color: whitesmoke;
    margin-top: 0;
    position: relative;
    top:10px;
    border-radius: 2vw;
    box-shadow: 0 1px 3px black;
    padding: 2vh;
    font-size: 5vh;
}

.single-post-container p {
    background-color: whitesmoke;
    padding: 1vw;
    height: 50vh;
    border-radius: 2vh;
    font-size: 1vw;
    overflow-y: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.comments-container {
    padding: 0.3vh 2vh;
    border-radius: 2vh;
    background-color: whitesmoke;
    min-height: 27vh;
}

.single-comment, .no-comments{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.089);
}

.add-comment-box {
    border-radius: 9px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.158);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.089);
    height: 4vh;
    padding: 0.5rem;
    width: 20vw;
    transition: 0.5s;
}

.add-comment-box:hover {
    box-shadow: 0px 1px 3px black; 
}

.add-comment-box:active {
    transform: scale(1.05);
}

.add-comment-box:focus {
    width: 30vw;
}

.add-comment-button{
    margin-left: 0.5vw;
    box-sizing: border-box;
    height: 4vh;
    background-color: hsl(0, 61%, 40%);
    box-shadow: 0px 1px 3px black;
    border: none;
    color:white;
    padding: 0.5vw;
    border-radius:9px;
    transition: 0.5s;
}

.add-comment-button:hover {
    background-color: hsl(0, 65%, 43%);
}

.add-comment-button:active {
    transform: scale(0.9);
}

/*small screen*/
@media screen and (max-width: 600px) {
    .single-post-container {
        box-sizing: border-box;
        margin-left: 0;
        height: calc(94*var(--height));
        overflow: auto;
        padding: 1vw;
    }

    .single-post-container h1 {
        font-size: calc(3*var(--height));
        padding: calc(2*var(--height));
    }

    .single-post-container p {
        border-radius: 2vw ;
        font-size: 4vw;
        padding: 4vw;
    }

    .comments-container {
        padding: calc(0.3*var(--height)) calc(2*var(--height));
        border-radius: 2vw;
        background-color: whitesmoke;
        min-height: calc(22*var(--height));
    }

    .add-comment-box {
        border-radius: 9px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.158);
        box-shadow:0px 1px 3px rgba(0, 0, 0, 0.089);
        height: calc(4.5*var(--height));
        padding: 0.5rem;
        width: 45vw;
        transition: 0.5s;
    }
    
    .add-comment-box:focus {
        width: 55vw;
    }

    .add-comment-button {
        height: calc(4.5*var(--height));
        margin-left: 3vw;
        padding: 3vw;
    }
    
}