.nav-bar {
    display: flex;
    background-color: black;
    color: white;
    position:fixed;
    align-items: center;
    transition: .8s;
    animation-duration: 1s;
    z-index: 3;
}

.fa-home, .fa-users, .fa-arrow-alt-circle-right, .fa-user-circle, .fa-sign-out-alt, .fa-palette {
    color:cornsilk;
    font-size: 3vw;
}
.selectedRoute * {
    color:crimson;
}

.fa-arrow-alt-circle-right {
    margin-top: 1.5vh;
}

.nav-bar a {
    margin-top: 6vh;
    display: flex;
    padding: 2vh;
    border-radius: 1vw;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    animation-name: hovernavitem;
    transition: 1s;
}

.nav-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    margin-top: 4vh;
}

.nav-bar a:hover:not(:first-child, .selectedRoute) {
    background-color: hsl(0, 100%, 30%);
}

.nav-bar a:active{
    transform: scale(2);
}

.logout-button-text {
    position: relative;
    animation: logout-message;
    font-size: 2vw!important;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes logout-message {
    0% {
        transform: translateX(-10vw);
    }

    20% {
        transform: translateX(0vw);
    }

    100% {
        opacity: 1;
        transform:translateY(-30vh);
    }
}

.invisible-absolute {
    position: absolute;
    opacity: 0;
}

.invisible {
    opacity: 0;
}

/*for large screen*/
@media screen and (min-width: 600px) {

    .nav-bar {
        flex-direction: column;
        height:100vh;
        width:9vw;
        animation-name: slide-right;
        top:0;
        overflow: auto;
    }

    .nav-bar .mobile-goodbye-message {
        display: none;
    }

    .nav-bar-logged-out {
        width: 100vw!important;
    }

    .nav-bar:hover {
        width: 25vw;
        transition:0.5s;
    }

    .nav-bar:hover a {
        width: 20vw;
    }    
    
    .nav-bar:hover .fa-arrow-alt-circle-right {
        transform: rotate(-180deg);
        transition: .5s;
    }

    .nav-bar .fa-arrow-alt-circle-right {
        transform: rotate(0deg);
        transition: 1s;
    }

    .logo {
        position: absolute;
        display: inline;
        font-family: 'Anton', sans-serif;
        font-size: 3vw;
        left:-50vw;
        transition: .3s;
    }
    
    .nav-bar:hover .logo {
        position: relative;
        margin-left: 0;
        margin-right: 1.5vw;
        left: 0px;
        transition: 1s;
    }

    .nav-bar span:not(.logo) {
        display: none;
        font-size: 1.2vw;
    }
    
    .nav-bar:hover span {
        display: inline;
        margin-left: 1vw;
    }
}

/*for small screen*/
@media screen and (max-width:600px) {
    .nav-bar {
        position: fixed;
        flex-direction: row;
        box-sizing: border-box;
        bottom:0;
        width:100vw;
        height:calc(6*var(--height));
        justify-content: space-evenly;
        align-items: stretch;
        animation-name: slide-up-navbar!important;
    }

    @keyframes slide-up-navbar {
        0% {
            transform: translateY(5vh);
        }
        100% {
            opacity: 1;
            transform: translateY(0vh);
        }
    }

    .nav-bar-logged-out {
        height: 100vh!important;
    }

    .nav-bar-logged-out a:hover {
        opacity:0;
        transition: 0s;
    }

    .nav-bar a {
        margin-top: 1vh;
    }

    .nav-bar span {
        display: none;
    }

    .fa-home, .fa-users, .fa-arrow-alt-circle-right, .fa-user-circle , .fa-sign-out-alt, .fa-palette{
        color:cornsilk;
        font-size: 8vw;
    }

    .nav-bar div {
        display: none;
    }

    .nav-bar-logged-out .mobile-goodbye-message {
        display: block!important;
        position: absolute;
        margin-top: 35vh;
        font-size: 3vh;
    }
}



